/*全体*/
body{
    font-family: 'Yu Gothic';
    font-weight: lighter;
    background-color: rgba(104, 96, 62, 0.05);
    margin: 0;
    padding-top: 170px;
}
h1{
    text-align: center;
    padding: 0;
    margin: 0;
    color: #68603E;
}
h2{
    font-size: 32px;
    text-align: center;
    margin: 0;
}
p{
    font-size: 24px;
}
div{
    font-size: 24px;
}
a{
    color: black;
    text-decoration: none;
}
@media screen and (max-width: 768px) {
    body{
        font-family: 'Yu Gothic';
        font-weight: lighter;
        background-color: rgba(104, 96, 62, 0.05);
        margin: 0;
        padding-top: 90px;
    }
    h1{
        font-size: 23px;
    }
    h2{
        font-size: 19px;
    }
    p{
        font-size: 10px;
    }
}


/*ヘッダー*/
header{
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 170px;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header-logo{
    float: left;
    width: 30%;
    height: auto;
    display: flex;
}
/* 親要素のスタイル */
.container {
    width: 100%; /* 親要素は画面幅全体を占める */
    max-width: 800px; /* 最大幅を設定 */
    margin: 0 auto; /* 中央揃え */
    text-align: right; /* 子要素を中央に配置 */
}
/* ボタン画像のスタイル */
.btn {
    width: 40%;  /* 親要素に対して50%の幅で表示 */
    height: auto;  /* アスペクト比を維持しながら自動で高さ調整 */
    cursor: pointer;  /* カーソルをポインターに変更 */
    display: inline-block; /* 中央に整列するための設定 */
}
@media screen and (max-width: 768px) {
    header{
        align-items: center;
        background-color: #ffffff;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 90px;
        padding: 1rem 2rem;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }
    .header-logo{
        float: left;
        width: 35%;
        height: auto;
        display: flex;
    }
    .header-button{
        width: 40%;
        height: auto;
        display: flex;
        justify-content: flex-end;
    }
}
@media screen and (min-width: 769px) {
    .banner-pc{
        width:100%;
        padding: 20px;
    }
    .banner-sp{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .banner-pc{
        display: none;
    }
    .banner-sp{
        width:100%;
        padding: 20px;
    }
}
.wrap-about{
    width: 100%;
    background-color: 68603E;
    padding: 20px 0;
}
.txt-about{
    text-align: center;
}
@media screen and(max-width: 768px) {
    .txt-about{
        margin: 20px;
        text-align: center;
    }    
}
.wrap-reason{
    width: 100%;
    background-color: black;
    padding: 20px 0;
    background-color: rgba(104, 96, 62, 0.1);
    padding-bottom: 50px;
}
.box-reason{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
    padding: 20px;
    max-width: 1500px;
    margin: 0 auto;
    background-color: rgba(104, 96, 62, 0.2);
}
.reasonimg-1, .reasonimg-2, .reasonimg-3{
    width: 250px;
    height: auto;
}
.reason-1, .reason-2, .reason-3{
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 20px;
}
.reason{
    padding: 10px;
    width: 400px;
    display: flex;
    align-items: center;
    overflow-wrap: break-word;
    text-align: left;
    font-size: 22px;
}
@media screen and (max-width: 768px) {
    .wrap-reason{
        background-color: rgba(104, 96, 62, 0.2);
    }
    .box-reason{
        background-color: rgba(104, 96, 62, 0);
    }
    .reason-1, .reason-2, .reason-3,
    .reasonimg-1, .reasonimg-2, .reasonimg-3,
    .reason{
        width: 80%;
        font-size: 19px;
        padding: 10px 0;
        width: 300px;
    }
}
.wrap-set{
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.txt-set{
    color: #68603E;
}
.box-set{
    display: flex;
    max-width: 1300px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
    text-align: center;
    margin: 0 auto;
}
.set-1, .set-2{
    width: 600px;
    height: auto;
    background-color: rgba(104, 96, 62, 0.1);
    padding: 20px;
}
.setimg-1, .setimg-2{
    width: 100%;
    height: auto;
}
.size{
    font-size: 96px;
}
.btn{
    width: 80%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
}
.wrap-faq{
    width: 100%;
    background-color: rgba(104, 96, 62, 0.15);
    padding: 20px 0;
    text-align: left;
    padding-bottom: 40px;
}
.box-faq{
    max-width: 1300px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.65);
}
.faq-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box-question,
.box-answer{
    display: flex;
    align-items: center;
    text-align: left;
}
.question, .answer{
    width: auto;
    height: 50px;
    margin-right: 10px;
    padding-left: 0px;
    margin-top: 0;
}
.txt-question{
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}
.box-question{
    padding-left: 0px;
}
.box-answer{
    padding-left: 40px;
}
.txt-answer{
    max-width: 100%;
    text-align: justify;
    margin: 20px;
}
@media screen and (min-width: 768px) {
    .faq-item {
        flex-direction: row;
    }
    .box-answer {
        flex-grow: 1;
    }
}

footer{
    text-align: center;
    padding: 20px;
}
.footer-logo{
    max-width: 40%;
    height: auto;
}
